#theamModeIcon path {
  fill: currentcolor;
}
body.dark {
  background: #333;
  --bg3: #333 a {
            color: #c9daf3;

            >p {
                color: #e3e3e3;
            }
        }

        #title {
            color: #eee;
        }

        #i_cecream {
            background: #333;
        }

        #app,
        .bili-video-card__wrap,
        .large-header,
        .bili-header__channel {
            background: transparent;
        }

        .bili-video-card .bili-video-card__info--tit a {
            color: #eee;
        }

        .video-info-container .video-info-title-inner .video-title {
            color: #eee;
        }

        .bili-header {
            .histories {
                .history-item {
                    background: #474747;
                }
            }

            .bili-header__channel .channel-entry-more__link,
            .bili-header__channel .channel-link {

                color: #e3e3e3;
                background: #474747;
                border: 1px solid #474747;
            }
        }

        .channel-link,
        .header-channel-fixed-right-item,
        .search-panel,
        .nav-search-btn {
            color: #e3e3e3;
            background: #333;
            border: 1px solid #333;

            &.is-focus {
                background: #474747;
            }
        }

        .bili-header__bar.slide-down,
        .header-channel-fixed,
        .search-input-container .search-fixed-header {
            background: #474747;
        }

        .mini-header .center-search-container .center-search__bar #nav-searchform,
        .search-input-wrap {
            background: #333;
            border: 1px solid #333;

            .nav-search-content,
            .nav-search-input {
                background: #474747;
            }
        }

        .bili-header__bar.slide-down {
            box-shadow: inset 0 -1px 0 #333  !important
        }

        .single-card.floor-card {
            background: #474747;
            border: 1px solid #474747;

            &:hover {
                background: #474747;

                .floor-card-inner {
                    background: #474747;
                }
            }

            .layer.tiny {
                background: #333
            }

            .floor-card-inner {
                background: #333;
            }
        }

        .bili-header__bar.slide-down {
            border-bottom: 1px solid #5c5c5c;
        }

        .v-popover-content,
        .usercard-wrap {
            background: #474747;
            border-color: #565656;

            .anime,
            .user-info-wrapper,
            .card-loaded,
            .game,
            .manga,
            .match,
            &.download-client-entry,
            .avatar-panel-popover,
            .vip-panel-popover .panel-v2 {
                background: #474747;
                border-color: #565656;
            }
        }

        .feed-roll-btn .primary-btn {
            background-color: #474747  !important;
            border-color: #565656  !important;
        }

        .palette-button-wrap {

            .storage-box,
            .watchlater-pip-button,
            .top-btn-wrap {

                div,
                button {
                    background-color: #474747  !important;
                    border-color: #565656  !important;
                }

            }
        }

        // .van-popover,
        // .v-popover,
        // .v-popover-content {
        //     background: #474747;
        // }

        // .bili-header {
        //     .avatar-panel-popover {
        //         background: #474747;
        //     }

        //     .vip-panel-popover .panel-v2 {
        //         background: transparent;

        //         .panel-v2-bottom-left .privilege-list .privilege-item {
        //             color: #e3e3e3;

        //             &:hover {
        //                 color: #fb7199;
        //             }
        //         }
        //     }
        // }

        .bpx-player-container {
            box-shadow: 0 0 8px #000000;

            .bpx-player-sending-area {
                .bpx-player-sending-bar {
                    background: #333;

                    .bpx-player-video-info {
                        color: #c4c4c4;
                    }

                    .bpx-player-dm-switch,
                    .bpx-player-dm-setting {
                        svg {
                            >path:first-child {
                                fill: #c4c4c4;
                            }
                        }
                    }

                    .bpx-player-video-inputbar {
                        background: #474747;

                        .bpx-player-video-btn-dm {
                            color: #e3e3e3;
                            fill: #e3e3e3;

                        }

                        .bpx-player-dm-wrap,
                        .bpx-player-dm-input {
                            color: #e3e3e3;

                            &::-webkit-input-placeholder {
                                color: #989a9d;
                            }
                        }
                    }
                }
            }
        }

        .video-tag-container,
        .video-toolbar-container {
            border-bottom: 1px solid #565656;
        }

        .video-toolbar-container {
            border-bottom: 1px solid #565656;

            .video-toolbar-left-item,
            .video-note-inner {
                color: #c4c4c4;
                fill: #c4c4c4;
            }

            .video-toolbar-left {}

            .video-ai-assistant-bg {
                .video-ai-assistant-badge {
                    background-color: #474747;
                    color: #c9daf3;
                    border: 1px solid #979797;
                }
            }
        }

        .video-desc-container {
            color: #c4c4c4;

            .basic-desc-info {
                color: inherit;
            }
        }

        .video-tag-container {
            .tag.not-btn-tag .tag-link {
                background: #474747;
                color: #c4c4c4;

                &:hover {
                    background-color: #00aeec;
                    color: #eee;
                }
            }
        }

        .mini-header {
            background: #333;

            .left-entry {

                .mini-header__title,
                .default-entry,
                .download-entry,
                .loc-entry {
                    color: #eee
                }
            }

            .right-entry .right-entry__outside {
                .right-entry-icon {
                    color: #eee;

                    path {
                        fill: #eee
                    }
                }

                .right-entry-text {
                    color: #989a9d;
                }
            }
        }

        .danmaku-box {

            .danmaku-wrap,
            .bpx-docker-minor:not(:empty),
            .bui-collapse-wrap {
                background: transparent;
            }

            .bui-collapse-wrap {
                &.bui-collapse-wrap-folded {

                    .bui-collapse-header {
                        border-radius: 6px;
                    }
                }

                .bui-collapse-header {
                    border-radius: 6px 6px 0 0;
                }
            }
        }

        .bui-collapse-header {
            background: #474747;
        }

        .bui-dropdown .bui-dropdown-wrap {
            color: #eee;
        }

        .bpx-player-auxiliary {
            .bpx-player-dm-function {

                .bpx-player-dm-btn-time,
                .bpx-player-dm-btn-dm,
                .bpx-player-dm-btn-date {
                    color: #e3e3e3;
                }
            }

            .bpx-player-dm-container {

                .dm-info-row {
                    color: #eee;

                    &.dm-info-row-block {
                        color: #e3e3e3;

                        .dm-info-dm {
                            color: #e3e3e3;
                        }
                    }

                    .dm-info-dm {
                        color: #eee;
                    }
                }
            }

            .bpx-player-collapse {
                .bui-collapse-body {
                    background: #333;
                }
            }

            .bpx-player-dm-wrap,
            .bpx-player-dm-function {
                background: #333;
            }
        }

        .video-pod {
            background: #474747;

            .video-pod__header {
                .header-bottom {
                    border-bottom-color: #565656;

                    .left {

                        .total-view,
                        .icon,
                        .description {
                            color: #e3e3e3;
                        }
                    }
                }

                .header-top {


                    .left {
                        .title.jumpable {
                            color: #eee;
                        }


                    }

                    .right {
                        .continuous-btn {
                            .txt {
                                color: #e3e3e3;
                            }
                        }
                    }
                }
            }

            .video-pod__header .header-bottom .right .subscribe-btn {
                color: #c9daf3;
                border-color: #c9daf3;
            }

            .pod-item.video-pod__item.simple {
                .simple-base-item {
                    .title {
                        color: #c4c4c4;
                    }

                    .stat-item.duration {
                        color: #c4c4c4;

                    }

                    &:hover {
                        .title {
                            color: #eee;

                        }
                    }

                    &.active {
                        background: #333;

                        .title {
                            color: #00aeec;
                        }
                    }
                }
            }
        }

        .rec-list {

            .video-page-card-small,
            .video-page-special-card-small {
                .card-box {
                    .info {
                        .title {
                            color: #e3e3e3;

                            &:hover {
                                color: #00aeec;
                            }
                        }
                    }
                }
            }
        };
}
body #commentapp bili-comments {
  color: #eee !important;
}
body .adcard-content,
body .slide-gg,
body .ad-report {
  display: none;
}
