body {
  background: url(https://donke-c.oss-cn-hangzhou.aliyuncs.com/myBG/th.jpg?x-oss-process=image/blur,r_20,s_16) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body #b_tween {
  margin-bottom: 12px;
}
body #b_header {
  position: relative;
  box-sizing: border-box;
  background: transparent;
}
body #b_header .head-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  filter: blur(10px);
}
body #b_header #b_opalpers {
  display: none !important;
}
body #b_results li {
  border-radius: 5px;
  margin-bottom: 10px;
}
body #b_results li:hover a {
  text-decoration: none;
}
body #b_results li:hover h2 a {
  color: #cc5172;
}
body #b_results li a {
  transition: color 0.2s;
}
body #b_context > li {
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}
body #b_context > li:last-child {
  background: url(https://donke-c.oss-cn-hangzhou.aliyuncs.com/myBG/aqua.gif) no-repeat;
  background-color: #fff;
  background-position-x: 100%;
  background-position-y: 100%;
  min-height: 200px;
}
