// body {
//     background: url(https://www2.bing.com/az/hprichbg/rb/ParkCity_ZH-CN7858135089_1920x1080.jpg) no-repeat;
//     background-attachment: fixed;
//     .s_form{
//         background: transparent
//     }
// }

// https://www.baidu.com/img/superlogo_c4d7df0a003d3db9b65e9ef0fe6da1ec.png?where=super
// body {
//     background: url(https://www2.bing.com/az/hprichbg/rb/ParkCity_ZH-CN7858135089_1920x1080.jpg) no-repeat;
//     background-attachment: fixed;
// }
@linkColor: rgb(74, 145, 228);
@cWidth: 40%;

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
    /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}



body {
    font-family: 'Microsoft Yahei';

    // #wrapper_wrapper {
    //     // padding-top: 100px;
    // }
    #head {
        #u {
            a {
                color: #fff;
            }
        }
    }

    #container {
        width: auto;
        // display: flex;
    }

    .nums {
        width: 32%;
    }

    // .head_nums_cont_outer{

    // }
    .wrapper_new {


        #head {
            .head_wrapper {
                #u .username {
                    color: #a2b8dc;
                }
            }
        }

        .s_form {
            padding-left: 0;
        }

        .container_new~#page {
            background-color: transparent !important;
            margin: 30px 0 0;
            padding-left: 0;
            position: absolute;
        }

        .container_new~#page .page-inner {
            padding: 14px 0 30px 236px;
            background-color: transparent;
        }

        #s_tab.s_tab .s_tab_inner {
            padding-left: 106px;

            >a {
                color: #ced1d6;
                transition: color 0.2s;
            }
        }
    }

    #head {
        #result_logo img {
            width: 101px;
            height: 46px;
            transform: translateY(-6px);
        }
    }

    .c-gap-icon-right-small {
        border-radius: 3px;
    }

    .s_btn {
        transition: background 0.1s;
        border: none;

        &.btnhover {
            background: #4576bf;
            border: none;
            box-shadow: none;
        }

    }

    .donke-bg-blur {
        width: 100%;
        height: 100%;
        position: fixed;
        // background: url(https://www2.bing.com/az/hprichbg/rb/ParkCity_ZH-CN7858135089_1920x1080.jpg) no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);

        &.bg-th {
            background: url(../images/th.jpg) no-repeat;
        }

        &.bg-bg {
            background-image: url(../images/bg.png)
        }

        &.bg-1 {
            background-image: url(../images/bg1.png);
        }

        &.bg-2 {
            background-image: url(../images/bg2.png);
        }

        &.bg-none {
            background-color: #ced1d6;
        }
    }

    .s_form,
    #head,
    #s_tab {
        background: transparent;

    }

    .hit_top_new .c-gap-bottom-small {
        padding: 10px;
        background: #fff;
        border-radius: 5px;

        >a {
            color: @linkColor;
            margin-left: 5px;
        }
    }

    .c-border {
        width: auto;
    }

    .s_tab {
        .s_tab_inner {
            position: absolute;

            >b,
            >a:hover {
                color: #fff !important;
            }

            >a {
                color: #ccc !important;
            }
        }
    }

    #content_right {
        border: none;
        *zoom: 1;
        position: absolute;
        left: calc(@cWidth + 100px);

        #con-ar .result-op.xpath-log {
            background: #fff;
            padding: 10px;
            border-radius: 5px;
        }
    }

    #content_right:after {
        /*伪元素是行内元素 正常浏览器清除浮动方法*/
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .container_l {
        #rs {
            box-sizing: border-box;
            width: 900px;

            a {
                text-decoration: none;

                &:hover {
                    color: rgb(77, 179, 140);
                }
            }
        }
    }

    #container {
        padding-left: 96px;
    }

    #content_left {
        min-width: 540px;
        width: @cWidth ;

        >.c-container {
            width: 100%;
        }

        .c-container {
            background-color: #fff;
            // width: 100%;
            padding: 10px;
            border-radius: 5px;
            //   border-left-width: 0px;
            //   border-left-style: solid;
            //   border-left-color: #9dcce2;
            transition: border-left-width 0.2s, transform 0.2s;
            position: relative;
            box-sizing: border-box;

            .blur-bg {
                position: absolute;
                width: 100%;
                height: 100%;
            }

        }

        >.c-container:hover {
            border-left-width: 5px;
            background: url(../images/searchBg.gif) no-repeat;
            background-color: #fff;
            background-position-x: 100%;
            background-position-y: 100%;
            transform: translateX(-5px)
        }
    }

    .c-container .t,
    .c-default .t {
        >a {
            color: @linkColor;

            em {
                color: rgb(236, 118, 118);
            }
        }

        >.OP_LOG_LINK {
            color: #fff;
        }
    }

    .s_form {
        .bg.s_ipt_wr.quickdelete-wrap {
            background-color: #fff;
            border-radius: 5px 0 0 5px;
        }

        .bg.s_btn_wr input {
            border-radius: 0 5px 5px 0;
        }
    }

    .wrapper_new .sam_newgrid~#page {
        background-color: transparent;
    }

    #page {
        position: absolute;
        background-color: transparent;

        a:not(.n),
        strong,
        .pc {
            height: 36px;
            border-radius: 50%;
            // border-color: #fff;
            box-sizing: border-box;

        }

        strong {
            border-width: 0px;
            color: rgb(26, 77, 124);
            background: rgba(255, 255, 255, 1)
        }

        a:not(.n) {
            border-width: 2px;
            border-color: #fff;
            color: #fff;
            transition: border-width .2s, background .2s, color .2s;
            background: rgba(255, 255, 255, 0);

            &:hover {
                border-width: 0px;
                color: rgb(26, 77, 124);
                background: rgba(255, 255, 255, 1)
            }

            // border-width: 1px;
        }

        .n {
            background: none;
            background: none;
            color: #fff;
            border: none;

            &:hover {
                border: none;
                background: none
            }
        }

        .fk {
            display: none;
        }
    }

    #rs {
        width: 538px;
        padding: 10px;
        border-radius: 5px;
    }

}

@media screen and (max-width: 1920px) {
    @cWidth: 60%;

    body {
        .head_wrapper {
            padding-left: 100px;
        }

        #content_left {
            min-width: 565px;
            width: @cWidth;
        }

        #container.sam_newgrid {
            margin-left: 0;
        }

        #content_right {
            left: calc(50%);
        }

        .wrapper_new .page-inner{
            padding-left: 96px;
        }
    }
}

@media screen and (min-width: 1921px) {
    body {
        #head .head_wrapper {
            /* width: 1196px; */
            width: auto;
            margin: 0 auto;
            position: relative;
            transform: translate3d(0px, 0, 1px);
            padding: 0 96px;
            padding: 0 96px;
        }

        #container.sam_newgrid {
            width: auto;
        }

        #container {
            padding-left: 96px;
            min-width: 1222px;
            margin: 0;
        }
    }
}